

<div class="viewWrapper">
  <div class="dbWrapper">
    <div *ngFor="let key of dbs" class="dbList">

      <div class="dbListHeader">
        <p>{{ key.key  }} -- {{key.value}}</p>
        <button (click)="startDB(key.key)">Start</button>
        <button (click)="stopDB(key.key)">Stop</button>
      </div>


      <div class="dbListMid">
        <button (click)="basebackupDB(key.key)">Create basebackup</button>
        <label>Basebackup status:
          <span style="color: red;">{{ key.basebackupStatusFalse }}</span>
          <span style="color: green;">{{ key.basebackupStatusTrue }}</span>
        </label>
      </div>

      <div class="dbListFooter">
        <input
          parse-format="YYYY-MM-DD HH:mm:ss"
          [(ngModel)]="key.date" ngui-datetime-picker
          [close-on-select]="true"/>

        <button (click)="revertDB(key.key)">Revert</button>

        <label>Revert status: {{ key.revertStatus }}
          <span style="color: red;">{{ key.revertStatusFalse }}</span>
          <span style="color: green;">{{ key.revertStatusTrue }}</span>
        </label>

      </div>
    </div>
  </div>
  <div class="dbFooter">
    <button (click)="getDBs()">Get DBs</button>
  </div>
</div>
